@* @model RouteGuardProject.Models.VehicleRouteTable

@{
    ViewData["Title"] = "Details";
}



<div class="container card d-flex justify-content-center">
    <h4>Details</h4>
    <hr />
    <dl class="row d-flex justify-content-center">
        <dt class = "col-lg-2">
            @Html.DisplayNameFor(model => model.DriverName)
        </dt>
        <dd class = "col-lg-10">
            @Html.DisplayFor(model => model.DriverName)
        </dd>
        <dt class = "col-lg-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class = "col-lg-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class = "col-lg-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-lg-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-lg-2">
            @Html.DisplayNameFor(model => model.PhoneNo)
        </dt>
        <dd class = "col-lg-10">
            @Html.DisplayFor(model => model.PhoneNo)
        </dd>
        <dt class = "col-lg-2">
            @Html.DisplayNameFor(model => model.LicenseNumber)
        </dt>
        <dd class = "col-lg-10">
            @Html.DisplayFor(model => model.LicenseNumber)
        </dd>
        <dt class = "col-lg-2">
            @Html.DisplayNameFor(model => model.LicenseDate)
        </dt>
        <dd class = "col-lg-10">
            @Html.DisplayFor(model => model.LicenseDate)
        </dd>
        <dt class = "col-lg-2">
            @Html.DisplayNameFor(model => model.LicenseExpiryDate)
        </dt>
        <dd class = "col-lg-10">
            @Html.DisplayFor(model => model.LicenseExpiryDate)
        </dd>
        <dt class = "col-lg-2">
            @Html.DisplayNameFor(model => model.VehicleModel)
        </dt>
        <dd class = "col-lg-10">
            @Html.DisplayFor(model => model.VehicleModel)
        </dd>
        <dt class = "col-lg-2">
            @Html.DisplayNameFor(model => model.VehicleNumber)
        </dt>
        <dd class = "col-lg-10">
            @Html.DisplayFor(model => model.VehicleNumber)
        </dd>
        <dt class = "col-lg-2">
            @Html.DisplayNameFor(model => model.DistanceTravelByVehicle)
        </dt>
        <dd class = "col-lg-10">
            @Html.DisplayFor(model => model.DistanceTravelByVehicle)
        </dd>
        <dt class = "col-lg-2">
            @Html.DisplayNameFor(model => model.Source)
        </dt>
        <dd class = "col-lg-10">
            @Html.DisplayFor(model => model.Source)
        </dd>
        <dt class = "col-lg-2">
            @Html.DisplayNameFor(model => model.Destination)
        </dt>
        <dd class = "col-lg-10">
            @Html.DisplayFor(model => model.Destination)
        </dd>
       <dt class = "col-lg-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-lg-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-lg-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-lg-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class = "col-lg-2">
            @Html.DisplayNameFor(model => model.ModifiedAt)
        </dt>
        <dd class = "col-lg-10">
            @Html.DisplayFor(model => model.ModifiedAt)
        </dd>
        <dt class = "col-lg-2">
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>
        <dd class = "col-lg-10">
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>
        <dt class = "col-lg-2">
            @Html.DisplayNameFor(model => model.DummyColumn1)
        </dt>
        <dd class = "col-lg-10">
            @Html.DisplayFor(model => model.DummyColumn1)
        </dd>
        <dt class = "col-lg-2">
            @Html.DisplayNameFor(model => model.DummyColumn2)
        </dt>
        <dd class = "col-lg-10">
            @Html.DisplayFor(model => model.DummyColumn2)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
 *@

            @model RouteGuardProject.Models.VehicleRouteTable

@{
    ViewData["Title"] = "Details";
}

<div class="container card d-flex justify-content-center">
    <h4 class="ms-5 mt-4">Details</h4>
    <hr />
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-info">
                <td>@Html.DisplayNameFor(model => model.DriverName)</td>
                <td>@Html.DisplayFor(model => model.DriverName)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.DateOfBirth)</td>
                <td>@Html.DisplayFor(model => model.DateOfBirth)</td>
            </tr>
            <tr class="table-info">
                <td>@Html.DisplayNameFor(model => model.Address)</td>
                <td>@Html.DisplayFor(model => model.Address)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.PhoneNo)</td>
                <td>@Html.DisplayFor(model => model.PhoneNo)</td>
            </tr>
            <tr class="table-info">
                <td>@Html.DisplayNameFor(model => model.LicenseNumber)</td>
                <td>@Html.DisplayFor(model => model.LicenseNumber)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.LicenseDate)</td>
                <td>@Html.DisplayFor(model => model.LicenseDate)</td>
            </tr>
            <tr class="table-info">
                <td>@Html.DisplayNameFor(model => model.LicenseExpiryDate)</td>
                <td>@Html.DisplayFor(model => model.LicenseExpiryDate)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.VehicleModel)</td>
                <td>@Html.DisplayFor(model => model.VehicleModel)</td>
            </tr>
            <tr class="table-info">
                <td>@Html.DisplayNameFor(model => model.VehicleNumber)</td>
                <td>@Html.DisplayFor(model => model.VehicleNumber)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.DistanceTravelByVehicle)</td>
                <td>@Html.DisplayFor(model => model.DistanceTravelByVehicle)</td>
            </tr>
            <tr class="table-info">
                <td>@Html.DisplayNameFor(model => model.Source)</td>
                <td>@Html.DisplayFor(model => model.Source)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Destination)</td>
                <td>@Html.DisplayFor(model => model.Destination)</td>
            </tr>
          
        </tbody>
    </table>
</div>
@* <div class="my-4">
    <button class="btn bg-dark text-light me-2"  href="@Url.Action("Edit", "VehicleRouteTables")" asp-action="Edit" asp-route-id="@Model?.Id">Edit</button>
    <button class="btn btn-danger" asp-action="Index">Back to List</button>
</div> *@

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
